body {
    margin: 0;
    background-image: url("./../images/pink-dust.png");
}

header {
    width: 940px;
    background: white;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
}

div.header-wrap {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px
}

content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

section,
aside,
footer {
    background: white;
    padding: 5px;
}

section {
    margin: 25px 13px 25px 0;
}

aside {
    display: inline-table;
    margin: 25px 0 25px 13px;
}
section,
aside {
    box-sizing: border-box;
    border: 1px solid #dddddd;
}

aside {
    flex: 0 0 195px;
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    clear: both;
    background: #666666;
    border-top: 10px solid #4aaaa5;
}
    div.header-wrap,
    section,
    aside {
        box-sizing: border-box;
        margin: 10px;
        padding: 5px;
        width: initial;
    }

/* FONTS */

h1,
h2,
h3 {
    margin-top: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: 220;
}

p,
a,
nav a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header h1 {
    background: #4aaaa5;
    color: white;
    padding: 15px;
    display: inline-block;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
}


nav a {
    padding: 0px 10px;
    color: grey;
    text-decoration: none;
    text-align: center
}

section h1 {
    padding-bottom: 25px;
    border-bottom: 3px solid #ddd;
    margin-bottom: 25px;
}

section img {
    max-width: 100%;
    height: auto;
    width: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

aside h1 {
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

aside a.git {
    background-image: url("./../images/Git-128.png")
}

aside a.linkedin {
    background-image: url("./../images/linkedin.png");
}

aside a.stack {
    background-image: url("./../images/if_stack-overflow_1608397.png");
}

aside a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
}

footer p {
    color: white;
    text-align: center;
}